#links-container {
  height: 70px;
}

#banner-link {
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
}

#logout-link {
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.1em 1em;
  font-weight: bold;
  text-transform: uppercase;
}
