.movie-card-container .card {
  cursor: pointer;
  height: 100%;
}

#select-container .form-control {
  background-color: var(--secondary-color);
  border: none;
  height: 60px;
}

@media (min-width: 576px) {
  #select-container {
    padding-left: 20px;
  }
}
